---
layout: default
title: Home
---
<section class="post-list">
  <div class="container">
    {% for post in paginator.posts %}
      {% unless post.next %}
        <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
      {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
        {% endif %}
      {% endunless %}
      <article class="post-item">
        <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
        <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
      </article>
    {% endfor %}
  </div>

  <!-- 分页链接 -->
  {% if paginator.total_pages > 1 %}
  <nav class="pagination" role="pagination">
    <ul>
      {% assign url = site.baseurl | append: "/" %}
      {% if paginator.previous_page %}
        {% if paginator.previous_page > 1 %}
          {% assign prev = 'page' | append: paginator.previous_page %}
        {% endif %}
        <li><a class="prev" href="{{ url | append: prev }}" title="Articles new">&laquo; Prev</a></li>
      {% else %}
        <li><span class="prev disabled">&laquo; Prev</span></li>
      {% endif %}
      <li><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></li>
      {% if paginator.next_page %}
        <li><a class="next" href="{{ url | append: 'page' | append: paginator.next_page }}" title="Articles old">Next &raquo;</a></li>
      {% else %}
        <li><span class="next disabled">Next &raquo;</span></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

</section>
