<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assign page_title = '' %}
    {% if page.title == "Home" %}
        {% capture page_title %}
            {{ site.title }}{{ site.title2 }} | {{ site.description }}
            {%if paginator and paginator.page != 1 %} - Page {{ paginator.page }}{% endif %}
        {% endcapture %}
    {% else %}
        {% capture page_title %}
            {%if page.slug == 'category' %}Category: {% endif %}
            {%if page.slug == 'tag' %}Tag: {% endif %}
            {{ page.title }} | {{ site.title }}{{ site.title2}}
        {% endcapture %}
    {% endif %}
    {% capture page_title %}
        {{ page_title | strip | rstrip | lstrip | escape | strip_newlines }}
    {% endcapture %}

    <title>{{ page_title }}</title>

    {% assign page_description = '' %}
    {% capture page_description %}
    {% if page.description %}
    {{ page.description | strip_html | strip | rstrip | strip_newlines | truncate: 160 }}
    {% else %}
    {{ site.description }}
    {% endif %}
    {%if paginator and paginator.page != 1 %} - Page {{ paginator.page }} {% endif %}
    {%if page.slug == 'category' %} Category: {{ page.title }}{% endif %}
    {%if page.slug == 'tag' %} Tag: {{ page.title }}{% endif %}
    {% endcapture %}

    {% capture page_description %}
    {{ page_description | strip | rstrip | lstrip | escape | strip_newlines }}
    {% endcapture %}

    <meta name="description" content="{{ page_description }}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <!-- rel prev and next -->
    {% if paginator.previous_page %}
        <link rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//','/' }}">
    {% endif %}
    {% if paginator.next_page %}
        <link rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//','/' }}">
    {% endif %}

    <link rel="stylesheet" href='{{ "assets/css/main.css" | prepend: site.baseurl }}'>
    <link rel="stylesheet" href='{{ "assets/css/font-awesome.min.css" | prepend: site.baseurl }}'>
    <link rel="stylesheet" href='{{ "assets/css/pygments.css" | prepend: site.baseurl }}'>

    {% if page.mathjax %}
        <!--mathjax-->
        {% include mathjax_support.html %}
    {% endif %}

</head>
